<h1 mat-dialog-title>Complete client management?</h1>
<div mat-dialog-content>
  <div class="complete-portfolio-text">
      <br/>
      You are in client management mode. If you're done working with the client assets and you want to return to the main page please press "Finish".
      <br/><br/>
      If you want to resume client management, please press "Cancel" if you want to resume managing the client.
      <br/>
  </div>
</div>
<br/>
<mat-divider></mat-divider>
<br/>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="finish()">Finish</button>
</div>