<h1 class="title">Closed Trades</h1>
<br/>

<div [style.display]="orders.length > 10 ? 'block' : 'none'">
  <mat-form-field>
    <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
  </mat-form-field>
</div>

<mat-table  #table [style.display]="orders.length > 0 ? 'block' : 'none'" [dataSource]="dataSource" matSort matSortActive="name"  class="mat-elevation-z3">

  <ng-container matColumnDef="company">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Market </mat-header-cell>
    <mat-cell *matCellDef="let order"> <app-company-mini [company]="order.company"></app-company-mini> </mat-cell>
  </ng-container>

  <ng-container matColumnDef="closedate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Closed at </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{ order.closedate | date : 'short' }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="buyprice">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Bought at </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{ order.buyprice | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sellprice">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sold at </mat-header-cell>
    <mat-cell *matCellDef="let order"> {{ order.sellprice | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="profit">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
    <mat-cell *matCellDef="let order"> <span [innerHtml]="(order.units * (order.sellprice - order.buyprice)) | currency | profit"></span> </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<div *ngIf="dataSource">
  <div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [style.display]="orders.length > 10 ? 'block' : 'none'">
    </mat-paginator>
  </div>
</div>