<div class="edit-user-form" *ngIf="showForm">
    <h1>{{name.value}}'s account:</h1>
    <div>
      <form validate [formGroup]="editUserForm" (ngSubmit)="updateUser()">
        <mat-form-field>
          <input matInput formControlName="name" id="name" type="text" [placeholder]="this.user.role + '\'s name'" />
          <mat-error *ngIf="name.invalid"
                class="alert alert-danger">
            <mat-error *ngIf="name.errors.required">
              Name is required.
            </mat-error>
            <mat-error *ngIf="name.errors.pattern">
              Please insert valid name.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput formControlName="dob" id="dob" [max]="maxDOB" [matDatepicker]="picker" [placeholder]="this.user.fullname + '\'s date of birth'">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dob.invalid"
                class="alert alert-danger">
            <mat-error *ngIf="dob.errors.required">
              DOB is required.
            </mat-error>
            <mat-error *ngIf="dob.errors.matDatepickerMax">
              {{this.role}} age is less than 18.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput formControlName="address" id="address" type="text" [placeholder]="this.user.fullname + ' address'" />
          <mat-error *ngIf="address.invalid"
                class="alert alert-danger">
            <mat-error *ngIf="address.errors.required">
              Address is required.
            </mat-error>
            <mat-error *ngIf="address.errors.pattern">
              Please insert valid Address.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput formControlName="email" id="email" type="text" [placeholder]="this.user.fullname + '\'s email'" />
          <mat-error *ngIf="email.invalid"
                class="alert alert-danger">
            <mat-error *ngIf="email.errors.required">
              Email is required.
            </mat-error>
            <mat-error *ngIf="email.errors.email">
              Please insert valid email.
            </mat-error>
          </mat-error>
          </mat-form-field>
        <br/>
        <div *ngIf="this.user.role !== 'client'">
          <mat-form-field>
            <input matInput formControlName="password" id="password" type="text" [placeholder]="this.user.name + '\'s password'" />
            <mat-error *ngIf="this.role!=='client'">
              <mat-error *ngIf="password.invalid"
                    class="alert alert-danger">
                <mat-error *ngIf="password.errors.required">
                  Password is required.
                </mat-error>
                <mat-error *ngIf="password.errors.pattern">
                  Please insert valid password.
                </mat-error>
              </mat-error>
            </mat-error>
          </mat-form-field>
          <br/>
        </div>
        <mat-form-field class="example-full-width" *ngIf="this.user.role === 'client'">
          <input type="text" [placeholder]="this.user.fullname + '\'s manager'" aria-label="Manager" matInput [formControl]="manager" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}({{option.email}})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
          <mat-error *ngIf="manager.invalid"
              class="alert alert-danger">
            <mat-error *ngIf="manager.errors.required">
              Manager is required.
            </mat-error>
            <mat-error *ngIf="manager.errors.managerOptionsValidator && manager.value">
              Manager cannot be found.
            </mat-error>
          </mat-error>
        <br/>
        <button mat-raised-button color="primary" [disabled]="this.editUserForm.invalid||this.editUserForm.pristine" type="submit" class="btn btn-primary" >Save</button>
        <button mat-raised-button [disabled]="this.editUserForm.pristine" color="accent" type="button" class="btn btn-default" (click)="setOriginalFormValue()">Reset</button>
      </form>
    </div>
  </div>