<h1 mat-dialog-title>{{buttonText}}</h1>
<div mat-dialog-content class="centered">
<br/>

  <!-- buy form start -->
  <div class="dollars">Current: {{ client.funds | currency }}</div>
  <br/>
  <mat-divider></mat-divider>
  <br/>

  <form validate [formGroup]="updateFundsForm" (ngSubmit)="this.update()">
    <mat-form-field>
      <input matInput formControlName="amount" required id="amount" type="number" placeholder="Amount" />
      <mat-error>{{ validateUnits(amount) }}</mat-error>
    </mat-form-field>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <button mat-raised-button color="primary" [disabled]="this.updateFundsForm.invalid" type="submit" class="btn btn-primary">{{buttonText}}</button>
  </form>
    
  <!-- buy form end -->

<br/>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
</div>