
div.edit-container {
  max-width: 300px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 16px;
}

div.button-holder {
  text-align: center;
}

button {
  margin: 0 10px;
}

div.dollars {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}