<div class="header">
    <button *ngIf="role === 'admin'" mat-raised-button color="primary" [routerLink]="['/admin']">Admin Panel</button>
    <button *ngIf="role === 'manager'" mat-raised-button color="primary" [routerLink]="['/manager']">{{ manageButtonText }}</button>
    <button *ngIf="!loggedIn" mat-raised-button color="accent" [routerLink]="['/login']">Login</button>
    <button *ngIf="loggedIn" mat-raised-button color="accent" (click)="logOut()">Log out</button>
  </div>