
.title {
  text-align: center;
}
.matrow:hover {
  background: rgba(0, 0, 0, 0.5);
}
.clicable {
    cursor: pointer;
}
.heading {
  display: flex;
  box-sizing: border-box;
  padding-left: 5em;
  padding-right: 5em;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(100, 100, 100, 100, 0.5);
}
.search {
  padding-top: .5em;
}
