<div>
  <h1 class="title" *ngIf="!dataSource">Client list will load soon</h1>
  <div class="heading" [style.display]="dataSource ? 'flex' : 'none'">
      <h1>Client list</h1>
    <div class="search" *ngIf="clients && clients.length > 10">
      <mat-form-field>
        <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
      </mat-form-field>
    </div>
</div>

  <mat-table #table [dataSource]="dataSource" matSort >

    <ng-container matColumnDef="fullname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
      <mat-cell  *matCellDef="let client"
      class="clickable"
      [appClientLabel]="client.equity"
      [title]="'View ' + client?.fullname + '\'s profile'"
      (click)="openPreview(client.id)"> {{ client?.fullname }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="funds">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Current </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client?.funds | currency }} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="allocated">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Allocated </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client?.allocated | currency }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="profit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
      <mat-cell *matCellDef="let client"> <span [innerHtml]="client.profit | currency | profit"></span></mat-cell>
    </ng-container>

    <ng-container matColumnDef="equity">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Equity </mat-header-cell>
      <mat-cell *matCellDef="let client"> {{ client?.equity | currency }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Manage </mat-header-cell>
      <mat-cell *matCellDef="let client"><button mat-raised-button color="accent"  (click)="manage(client.id, $event)"><mat-icon [title]="'Manage ' + client?.fullname + '\'s profile'">work</mat-icon></button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div [style.display]="clients && clients.length ? 'block' : 'none'">
    <div>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
      </mat-paginator>
    </div>
  </div>
</div>