<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="example-toolbar">
    <button *ngIf="isLoggedIn" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">Magratea Trading Outpost</h1>
    <ng-content select="app-navbar"></ng-content>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <a mat-list-item
          *ngFor="let link of links"
          class="example-box"
          [routerLink]="link.route"
          routerLinkActive="active-link"
          [queryParams]="link?.param"
          cdkDrag>
          <mat-icon>{{link?.iconName }}</mat-icon>&nbsp;&nbsp;&nbsp;{{link.name}}
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content select="router-outlet"></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>