div.error-panel {
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

.error-panel h1 {
  padding: 10px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.error-panel h2 {
  padding: 10px;
  text-align: left;
  color: #aaa;
}

.error-text {
  padding: 20px;
  text-align: left;
  font-size: 18px;
  margin: 0;
  color: rgba(245, 229, 252, 0.8);
  background-color: rgba(0, 0, 0, 0.2);
}