<div class="error-panel">
  <h1>404</h1>
  <h2>This is not the page you're looking for. Here is some Vogon poetry instead:</h2>
  <div class="error-text">
    <em>
        Oh freddled gruntbuggly,<br/>
        Thy micturations are to me,(with big yawning)<br/>
        As plurdled gabbleblotchits,<br/>
        On a lurgid bee,<br/>
        That mordiously hath blurted out,<br/>
        Its earted jurtles, grumbling<br/>
        Into a rancid festering confectious organ squealer. [drowned out by moaning and screaming]<br/>
        Now the jurpling slayjid agrocrustles,<br/>
        Are slurping hagrilly up the axlegrurts,<br/>
        And living glupules frart and stipulate,<br/>
        Like jowling meated liverslime,<br/>
        Groop, I implore thee, my foonting turlingdromes,<br/>
        And hooptiously drangle me,<br/>
        With crinkly bindlewurdles,mashurbitries.<br/>
        Or else I shall rend thee in the gobberwarts with my blurglecruncheon,<br/>
        See if I don't!<br/>
    </em>
  </div>
</div>