<h1>Overview</h1>

<!-- <app-client-overview *ngFor="let client of clients" [client]="client"></app-client-overview> -->

<div *ngIf="clients.length > 10">
  <mat-form-field>
    <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="name">

  <ng-container matColumnDef="fullname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{ client.fullname }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="funds">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Current </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{ client.funds | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="allocated">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Allocated </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{ client.allocated | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="profit">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{ client.profit | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="equity">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Equity </mat-header-cell>
    <mat-cell *matCellDef="let client"> {{ client.equity | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Manage </mat-header-cell>
    <mat-cell *matCellDef="let client"><button mat-raised-button color="accent" (click)="manage(client.id)"><mat-icon>work</mat-icon></button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<div *ngIf="dataSource">
  <div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="clients.length > 10">
    </mat-paginator>
  </div>
</div>
