.matrow:hover {
  background: rgba(0, 0, 0, 0.5);
}

.clicable {
  cursor: pointer;
}
.main-container {
  width: 90%;
  max-width: 1000;
}

.heading {
  display: flex;
  box-sizing: border-box;
  padding-right: 5em;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(100, 100, 100, 100, 0.5);
}
.base-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}

.title {
  background: rgba(100, 100, 100, 0.2);
  color: white;
  padding: 10px;
  border-radius: 5px;
  line-height: 30px;
}

.buttonscontainer {

padding: 3em .5em .5em .5em;
margin-left: 3em;
}
.id {
  flex: 0 0 30px;
  justify-content: flex-start;
}
.id-header {
  flex: 0 0 30px;
  justify-content: flex-start;
}
.units {
  flex: 0 0 50px;
  justify-content: flex-start ;
}

.search-container {
  padding-top: 2em;

}
