<div class='base-container'>
  <div class='main-container'>
    <div class='heading'>
      <div class="buttonscontainer">
        <mat-chip-list>
          <mat-chip class="title clicable" (click)="changeQueryParam('opened')" ><h2>Active Positions</h2></mat-chip>
          <mat-chip class="title clicable" (click)="changeQueryParam('closed')"><h2>Closed Positions</h2></mat-chip>
          <mat-chip class="title clicable" (click)="changeQueryParam('all')"><h2>All Positions</h2></mat-chip>
        </mat-chip-list>
      </div>
      <div class='search-container' [style.display]="orders.length > 10 ? 'block' : 'none'">
        <mat-form-field>
          <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
        </mat-form-field>
      </div>
    </div>

    <mat-table #table [dataSource]="dataSource" matSort matSortActive="id"  class="mat-elevation-z3">

      <ng-container  matColumnDef="localId">
        <mat-header-cell [ngClass]="'id-header'" *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell [ngClass]="'id'" *matCellDef="let order"> {{ order.localId + 1}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Stock </mat-header-cell>
        <mat-cell *matCellDef="let order">
          <app-company-mini
            class="clicable"
            [routerLink]="['/manager/stocks', order.company.id]"
            [company]="order.company">
          </app-company-mini>

        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="units">
        <mat-header-cell [ngClass]="'units'" *matHeaderCellDef mat-sort-header> Units </mat-header-cell>
        <mat-cell [ngClass]="'units'" *matCellDef="let order"> {{ order.units }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buyprice">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Unit price </mat-header-cell>
        <mat-cell *matCellDef="let order">
          {{ order.buyprice | currency:'USD':symbol:'2.2-4' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="profit">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
        <mat-cell *matCellDef="let order"><span>
          <span [innerHtml]="order.profit | currency | profit"></span>
            </span></mat-cell>
      </ng-container>

      <ng-container matColumnDef="clientName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Client </mat-header-cell>
        <mat-cell *matCellDef="let order">
          <span class="clicable" (click)="openPreview(order.client.id)">
            <strong>
              {{order.client.fullname}}
            </strong>
          </span>
        </mat-cell>
      </ng-container>

      <ng-container [style.display]="this.setShowStatus()" matColumnDef="statusname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
        <mat-cell *matCellDef="let order">
          <span>{{order.statusname}}</span>
        </mat-cell>
      </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>

    <div *ngIf="dataSource">
      <div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [style.display]="orders.length > 10 ? 'block' : 'none'">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>