
<h1>Brief Overview</h1>
<div *ngIf="company" class='overview-container'>
    <div style="padding-bottom: 10px">
      <app-company-mini [company]="company"></app-company-mini>
    </div>
    <div class='overview-unit'>
      <div>
        <strong class='overview-item'>Name: </strong>
        <span class='overview-content'>{{company.name}}</span>
      </div>
      <div>
        <strong class='overview-item'>Address: </strong>
        <span class='overview-content'>{{company.address}}</span>
      </div>
      <div>
        <strong class='overview-item'>Industry: </strong>
        <span class='overview-content'>{{company.industry}}</span>
      </div>
    </div>
    <div class="overview-unit">
      <div>
        <strong class='overview-item'>Bid Price: </strong>
        <span class='overview-content'>{{company.buy | currency}}</span>
      </div>
      <div>
        <strong class='overview-item'>Ask Price: </strong>
        <span class='overview-content'>{{company.sell | currency}}</span>
      </div>
      <div></div>
    </div>
</div>
<mat-divider></mat-divider>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
