
.overview-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.overview-unit{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.overview-unit div {
  flex: 1;
}


h1 {
  text-align: center;

}

.overview-item {
  color: #777;
  font-weight: 700;
  font-family: 'num','Open Sans',ariel,sans-serif;
}
.overview-content {
  color: #adafb3;
  font-weight: 700;
  font-family: 'num','Open Sans',ariel,sans-serif;
}
#chartContainer {
  margin-top: 20px;
}
