<div class="error-panel">
    <h1>Server Error</h1>
    <h2>The Heart of Gold has been broken. There is not enough tea in the universe to fix that :(</h2>
    <div class="error-text">
      <em>
      </em>
    </div>
  </div>