
.matrow:hover {
  background: rgba(0, 0, 0, 0.5);
}
.heading {
  display: flex;
  box-sizing: border-box;
  padding-left: 5em;
  padding-right: 5em;
  flex-direction: row;
  justify-content: space-between;
  background: rgba(100, 100, 100, 100, 0.5);
}
.base-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
}
.main-container {
  width: 80%;
  max-width: 1000;
}
.search {
  padding-top: 0.5em;
}
