<div class='base-container'>
  <div class='main-container'>
    <div class="heading">
      <h1>List of all users</h1>
      <div class='search' [style.display]="dataSource ? 'block' : 'none'">
        <div *ngIf="users.length > 10">
          <mat-form-field>
            <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class='table-container' [style.display]="dataSource ? 'block' : 'none'">

      <mat-table #table [dataSource]="dataSource" matSort matSortActive="name">

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let employee"> {{ employee.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
          <mat-cell *matCellDef="let employee"> {{ employee.email }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
          <mat-cell *matCellDef="let employee"> {{ employee.role }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;" [routerLink]="computeRoute(row)"></mat-row>

      </mat-table>
      <mat-paginator [style.display]="users.length > 10 ? 'block' : 'none'"
        [pageSizeOptions]="[5, 10, 20]" [pageSize]="10" showFirstLastButtons>
      </mat-paginator>
  </div>
</div>