<h1 mat-dialog-title>Buy</h1>
<div mat-dialog-content class="centered">
<br/>

  <!-- buy form start -->
  <app-company-mini [company]="company"></app-company-mini>
  <br/>
  <mat-divider></mat-divider>
  <br/>

  <form validate [formGroup]="buyForm" (ngSubmit)="this.buy()">
    <mat-form-field>
      <input matInput formControlName="units" required id="units" type="number" placeholder="Units" />
      <mat-error>{{ validateUnits(units) }}</mat-error>
    </mat-form-field>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <div class="buy-total">
      <span class="buy-text">Buy: </span> <span class="buy-number"> {{ units.value * company.buy | currency }} </span>
    </div>
    <br/>
    <mat-divider></mat-divider>
    <br/>
    <button mat-raised-button color="primary" [disabled]="this.buyForm.invalid" type="submit" class="btn btn-primary">Buy</button>
  </form>
    
  <!-- buy form end -->

<br/>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
</div>