<h1> Should Be The Overview Component Of Portfolio Module (potentially)</h1>
<mat-card class="client-overview">
  <mat-card-header style="text-align: center;">
    <mat-card-title>{{ client?.fullname }}</mat-card-title>
    <mat-card-subtitle>client</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    Current: {{ client?.funds | currency:'USD':symbol:'2.2-4' }}<br />
    <mat-divider></mat-divider><br />
    Allocated: {{ client?.allocated | currency:'USD':symbol:'2.2-4' }}<br />
    <mat-divider></mat-divider><br />
    Profit: {{ client?.profit | currency:'USD':symbol:'2.2-4' }}<br />
    <mat-divider></mat-divider><br />
    Equity: {{ client?.equity | currency:'USD':symbol:'2.2-4'}}<br />
  </mat-card-content>
</mat-card>
