<!-- <div class="app-container"> -->
  <app-sidenav>
    <app-navbar></app-navbar>
    <router-outlet></router-outlet>
  </app-sidenav>
  <ngx-spinner
  bdColor = "rgba(11,0,0,0.22)"
  size = "large"
  color = "#e91e63"
  type = "ball-atom"
  fullScreen = "true"
  >
  </ngx-spinner>
<!-- </div> -->

