<h1 class="title">Client Overview</h1>

<div class="edit-container" *ngIf="client">
  <div class="dollars">Current: {{client.funds | currency}}</div>
  <div class="dollars">Profit: <span [innerHtml]="client.profit | currency | profit"></span></div>
  <div class="button-holder">
      <button mat-raised-button color="primary" type="button" (click)="deposit()">Deposit</button>
      <button mat-raised-button  color="accent" type="button" (click)="withdraw()">Withdraw</button>
    </div>
</div>

<div class="edit-container">
    <h1>Edit {{name.value}}'s account:</h1>
    <div>
      <form validate [formGroup]="editUserForm" class="edit-form" (ngSubmit)="updateUser()">
        <mat-form-field>
          <input matInput formControlName="name" id="name" type="text" [placeholder]="this.user.role + '\'s name'" />
          <mat-error>{{ validate(name) }}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
            <input matInput formControlName="dob" id="dob" [max]="maxDOB" [matDatepicker]="picker" [placeholder]="this.user.role + '\'s date of birth'">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>{{ validate(dob) }}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput formControlName="address" id="address" type="text" [placeholder]="this.user.fullname + ' address'" />
          <mat-error>{{ validate(address) }}</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <input matInput formControlName="email" id="email" type="text" [placeholder]="this.user.fullname + '\'s email'" />
          <mat-error>{{ validate(email) }}</mat-error>
        </mat-form-field>
        <br/>
        <div class="button-holder">
          <button mat-raised-button color="primary" [disabled]="this.editUserForm.invalid||this.editUserForm.pristine" type="submit">Save</button>
          <button mat-raised-button [disabled]="this.editUserForm.pristine" color="accent" type="button" (click)="setOriginalFormValue()">Reset</button>
        </div>
      </form>
    </div>
  </div>