<div class="app-title">Magrathea Trading Outpost</div>

<div class="description">
  <h1>Your <em>alternative</em> trading app <mat-icon class="purple">show_chart</mat-icon></h1>
  <br/><br/>
  <p>Magrathea Trading Outpost is the next generation investment tool, providing you with access to stocks and companies you can't find anywhere else. In an expanding universe of choices were are giving you even more.</p>
  <ul>
    <li><mat-icon class="purple">done</mat-icon> Simple</li>
    <li><mat-icon class="purple">done</mat-icon> Easy</li>
    <li><mat-icon class="purple">done</mat-icon> Quick</li>
    <li><mat-icon class="purple">done</mat-icon> Out of this world</li>
  </ul>
  <p>Please contact our managers if you want to join our platform.</p>
  <p><em>Spice must flow!</em></p>
</div>
