div.app-title {
  margin: 1em auto;
  font-size: 4em;
  width: 100%;
  max-width: 800px;
  text-decoration: overline;
  text-align: center;
}

div.header {
  width: 98%;
  margin: 0;
  padding: 1%;
  text-align: right;
}

div.header button {
  margin: 0 2px;
}

div.center-content {
  text-align: center;
  font-size: 2em;
  color: white;
}

div.description {
  max-width: 600px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 20px;
}

div.description p {
  font-size: 18px;
  color: rgb(244, 214, 255);
}

li {
  list-style-type: none;
  font-size: 20px;
}

.purple {
  color: rgb(204, 104, 255);
}