<div class="client-overview">
  <div class="personal-info"><strong>{{ client.fullname }}</strong></div>
  <div class="dollars">Current: {{ client.funds | currency }}</div>
  <div class="dollars">Profit: <span [innerHtml]="client.profit | currency | profit"></span></div>
  <div class="clear-float"></div>
</div>
<div [style.display]="orders.length > 10 ? 'block' : 'none'">
    <mat-form-field>
      <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
    </mat-form-field>
  </div>
  <div [style.display]="orders.length? 'none' : 'block'"><p>User has no positions oppened yet.</p></div>

  <mat-table [style.display]="orders.length ? 'block' : 'none'"
  #table [dataSource]="dataSource" matSort matSortActive="name"  class="mat-elevation-z3">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{ orders.indexOf(order) }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Stock </mat-header-cell>
      <mat-cell *matCellDef="let order"> <app-company-mini [company]="order.company"></app-company-mini></mat-cell>
    </ng-container>

    <ng-container matColumnDef="units">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Units </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{ order.units }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="buyprice">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Unit price </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{ order.buyprice | currency }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="profit">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Profit </mat-header-cell>
      <mat-cell *matCellDef="let order"><span [innerHtml]="order.profit | currency | profit"></span></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>

  <div *ngIf="dataSource">
    <div>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [style.display]="orders.length > 10 ? 'block' : 'none'">
      </mat-paginator>
    </div>
  </div>
