div.dollars {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  float: left;
  max-width: 200px;
}

div.personal-info {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  color: white;
  float: left;
  max-width: 200px;
}

div.clear-float {
  clear: both;
}