<h1>Stocks list</h1>

<div *ngIf="companies.length > 10">
  <mat-form-field>
    <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
  </mat-form-field>
</div>

<mat-table #table [dataSource]="dataSource" matSort matSortActive="name">

  <ng-container matColumnDef="market">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Market </mat-header-cell>
    <mat-cell *matCellDef="let company">
      <app-company-mini [company]="company"></app-company-mini>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chart">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Past 24 hours </mat-header-cell>
    <mat-cell *matCellDef="let company">
      <app-company-mini-chart [company]="company"></app-company-mini-chart>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
    <mat-cell *matCellDef="let company"> {{ company?.address }} </mat-cell>
  </ng-container>


  <ng-container matColumnDef="industry">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Industry </mat-header-cell>
    <mat-cell *matCellDef="let company"> {{ company?.industry }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buy">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Buy Price </mat-header-cell>
    <mat-cell *matCellDef="let company"> {{ company?.endprice + 1 | currency:'USD':symbol:'2.2-4' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sell">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sell Price </mat-header-cell>
    <mat-cell *matCellDef="let company"> {{ company?.endprice - 1 | currency:'USD':symbol:'2.2-4' }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;" title="View" [routerLink]="['/manager/stocks', row.id]">
  </mat-row>
</mat-table>
<div *ngIf="dataSource">
  <div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" *ngIf="companies.length > 10">
    </mat-paginator>
  </div>
</div>
