<div class="login-form">
  <h1>Login:</h1>
  <br/>
  <div>
    <form validate [formGroup]="loginForm" (ngSubmit)="this.login()">
      <mat-form-field>
        <input matInput formControlName="email" required id="email" type="text" placeholder="your@email.com" />
        <mat-error>{{ validate(email) }}</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput #pass formControlName="password" required id="password" type="password" placeholder="password" />
        <mat-error>{{ validate(password) }}</mat-error>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary" [disabled]="this.loginForm.invalid" type="submit" class="btn btn-primary" >Login</button>
      <button mat-raised-button color="accent" type="button" class="btn btn-default" (click)="this.cancel()">Cancel</button>
    </form>
  </div>
</div>
