<div class="new-user-form" *ngIf="showForm">
  <h1>New {{role}}:</h1>
  <div>
    <form validate [formGroup]="newUserForm" (ngSubmit)="createUser()">
      <mat-form-field>
        <input matInput formControlName="name" id="name" type="text" [placeholder]="this.role + '\'s name'" />
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)"
                   class="alert alert-danger">
          <mat-error *ngIf="name.errors.required">
          Name is required.
          </mat-error>
          <mat-error *ngIf="name.errors.pattern">
          Please insert valid name.
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput formControlName="dob" id="dob" [max]="maxDOB" [matDatepicker]="picker" [placeholder]="this.role + '\'s date of birth'">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="dob.invalid && (dob.dirty || dob.touched)"
              class="alert alert-danger">
          <mat-error *ngIf="dob.errors.required">
            DOB is required.
          </mat-error>
          <mat-error *ngIf="dob.errors.matDatepickerMax">
            {{this.role}} age is less than 18.
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput formControlName="address" id="address" type="text" [placeholder]="this.role + '\'s address'" />
        <mat-error *ngIf="address.invalid && (address.dirty || address.touched)"
             class="alert alert-danger">
          <mat-error *ngIf="address.errors.required">
            Address is required.
          </mat-error>
          <mat-error *ngIf="address.errors.pattern">
            Please insert valid Address.
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput formControlName="email" id="email" type="text" [placeholder]="this.role + '\'s email'" />
        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)"
             class="alert alert-danger">
          <mat-error *ngIf="email.errors.required">
            Email is required.
          </mat-error>
          <mat-error *ngIf="email.errors.email">
            Please insert valid email.
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br/>
      <div *ngIf="this.role !== 'client'">
        <mat-form-field>
          <input matInput formControlName="password" id="password" type="text" [placeholder]="this.role + '\'s password'" />
          <mat-error *ngIf="this.role!=='client'">
            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)"
                  class="alert alert-danger">
              <mat-error *ngIf="password.errors.required">
                Password is required.
              </mat-error>
              <mat-error *ngIf="password.errors.pattern">
                Please insert valid password.
              </mat-error>
            </mat-error>
          </mat-error>
        </mat-form-field>
        <br/>
      </div>
      <div *ngIf="this.role==='client'">
        <mat-form-field class="example-full-width" *ngIf="this.role === 'client'">
          <input type="text" [placeholder]="'Manager of new ' + this.role" aria-label="Manager"
          matInput [formControl]="manager" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option.name}}({{option.email}})
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="manager.invalid && (manager.dirty || manager.touched)"
              class="alert alert-danger">
            <mat-error *ngIf="manager.errors.required">
              Manager is required.
            </mat-error>
            <mat-error *ngIf="manager.errors.managerOptionsValidator && manager.value">
              Manager cannot be found.
            </mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field *ngIf="this.role === 'client'">
        <input matInput min="1" formControlName="funds" id="funds" type="number" [placeholder]="this.role + ' funds'" />
        <mat-error *ngIf="funds.invalid && (funds.dirty || funds.touched)"
              class="alert alert-danger">
          <mat-error *ngIf="funds.errors.required">
            Funds is required.
          </mat-error>
          <mat-error *ngIf="funds.errors.min">
            Funds needs to be 1 or more.
          </mat-error>
        </mat-error>
      </mat-form-field>
      <br/>
      <button mat-raised-button color="primary" [disabled]="this.newUserForm.invalid" type="submit" class="btn btn-primary" >Create</button>
      <button mat-raised-button [disabled]="this.newUserForm.pristine" color="accent" type="button" class="btn btn-default" (click)="resetForm()">Reset</button>
    </form>
  </div>
</div>