/* You can add global styles to this file, and also import other style files */

/* body {
  background: url('./assets/images/nebula3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

body {
  background: url('./assets/images/nebula_blur.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  color: white;
}

h1, h2, h3, h4, h5 {
  color: white;
}

.mat-table {
  background: transparent;
}

.matrow:hover {
  background: rgba(100, 100, 100, 0.2);
}

.mat-header-row {
  background-color: rgba(10, 10, 10, 0.8);
}

.mat-header-cell {
  color: white;
}

.mat-row {
  background-color: rgba(10, 10, 10, 0.5);
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.mat-cell {
  color: white;
}

.mat-dialog-title {
  text-align: center;
}

.mat-dialog-container {
  background-color: rgba(10, 10, 10, 0.98);
  color: white;
  border: 1px solid rgba(100, 100, 100, 0.1);
  border-radius: 8px;
}

.profit-red {
  color: #ff0263;
}

.profit-green {
  color: #b0fc00;
}

.centered {
  text-align: center;
}

h1.title {
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 3px solid rgba(100, 100, 100, 0.5);
  padding-left: 10px;
  line-height: 50px;
  margin-bottom: 40px;
}