<h1 mat-dialog-title>Companies</h1>
<div mat-dialog-content>
<br/>
  <!-- company list start -->
  <div [style.display]="companies.length > 10 ? 'block' : 'none'">
      <mat-form-field>
        <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
      </mat-form-field>
    </div>
    
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="name" class="mat-elevation-z5">
    
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
        <mat-cell *matCellDef="let company"> {{ companies.indexOf(company) }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let company"> <app-company-mini [company]="company"></app-company-mini> </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="sell">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sell Price </mat-header-cell>
        <mat-cell *matCellDef="let company"> {{ company.sell | currency }} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="add">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Add </mat-header-cell>
        <mat-cell *matCellDef="let company"> <button mat-raised-button color="accent" (click)="add(company.id)"><mat-icon>add_circle</mat-icon></button> </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
    </mat-table>
    
    <div *ngIf="dataSource">
      <div>
        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [style.display]="companies.length > 10 ? 'block' : 'none'">
        </mat-paginator>
      </div>
    </div>
    
  <!-- company list end -->
<br/>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onNoClick()">Cancel</button>
</div>