<h1 class="title">Watchlist</h1>

<div [style.display]="listed.length > 10 ? 'block' : 'none'">
  <mat-form-field>
    <input matInput (keyup)="search($event.target.value)" placeholder="Search...">
  </mat-form-field>
</div>

<mat-table #table [style.display]="listed.length > 0 ? 'block' : 'none'" [dataSource]="dataSource" matSort
  matSortActive="name" class="mat-elevation-z3">

  <ng-container matColumnDef="market">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Market </mat-header-cell>
    <mat-cell *matCellDef="let company">
      <app-company-mini [company]="company"></app-company-mini>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="chart">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Past 24 hours </mat-header-cell>
    <mat-cell *matCellDef="let company">
      <app-company-mini-chart [company]="company"></app-company-mini-chart>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="sell">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Sell </mat-header-cell>
    <mat-cell *matCellDef="let company"> {{ company.sell | currency }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="buy">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Buy </mat-header-cell>
    <mat-cell *matCellDef="let company"> <button mat-stroked-button (click)="buy(company)" class="mat-elevation-z5">
        <mat-icon>add</mat-icon> {{ company.buy | currency }}
      </button></mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row class="matrow" *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<div *ngIf="dataSource">
  <div>
    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"
      [style.display]="listed.length > 10 ? 'block' : 'none'">
    </mat-paginator>
  </div>
</div>

<br /><br />
<button mat-raised-button (click)="addCompany()" *ngIf="showAddCompany">Add company</button>
<br />
&nbsp;
