<div class="company-mini">
  <div class="company-logo">
    <img src="{{ url(company.icon) }}" width="60"/>
  </div>
  <div class="company-info">
    <span class="company-abbr company-text">{{ company.abbr }}</span><br/>
    <span class="company-name company-text">{{ company.name.slice(0,20) }}</span>
  </div>
  <div style="clear: both;"></div>
</div>