div.company-mini {
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 200px;
  border-radius: 4px;
  padding: 4px;
  margin: 2px;
}

div.company-logo {
  float: left;
  width: 60px;
  height: 60px;
  margin-right: 5px;
}

.company-info {
  float: left;
}

.company-name {
  color: #888;
}

.company-text {
  font-size: 12px;
  line-height: 30px;
}